default/DEMOEL.json
{
  "externalControllerServices" : { },
  "flow" : {
    "createdTimestamp" : 1758468475906,
    "description" : "examples of using expression language and JOLT ",
    "identifier" : "DEMOEL",
    "lastModifiedTimestamp" : 1758468475906,
    "name" : "DEMO_EL",
    "versionCount" : 0
  },
  "flowContents" : {
    "comments" : "",
    "componentType" : "PROCESS_GROUP",
    "connections" : [ {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "c03039ea-1b66-3162-b84c-c4ab57f84673",
        "name" : "JoltTransformJSON",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "03a52098-f9d3-3196-9b07-3f469208aad9",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "af57fc05-528b-35ad-96a9-91e000beb155",
        "name" : "UpdateAttribute",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "af57fc05-528b-35ad-96a9-91e000beb155",
        "name" : "UpdateAttribute",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "2f94479c-ab15-3206-ad01-e1ce03e20556",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "3657a2d7-2cee-3d60-9914-b87813eaf357",
        "name" : "GenerateFlowFile",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "42196039-8f00-3fb7-9ea7-68792e3daa30",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "bdd5ad99-c57e-35bf-a51b-44e09a224f73",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "failure", "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "c03039ea-1b66-3162-b84c-c4ab57f84673",
        "name" : "JoltTransformJSON",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    } ],
    "controllerServices" : [ ],
    "defaultBackPressureDataSizeThreshold" : "1 GB",
    "defaultBackPressureObjectThreshold" : 10000,
    "defaultFlowFileExpiration" : "0 sec",
    "executionEngine" : "INHERITED",
    "externalControllerServiceReferences" : { },
    "flowFileConcurrency" : "UNBOUNDED",
    "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
    "funnels" : [ {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "42196039-8f00-3fb7-9ea7-68792e3daa30",
      "position" : {
        "x" : -32.0,
        "y" : 656.0
      }
    } ],
    "identifier" : "flow-contents-group",
    "inputPorts" : [ ],
    "labels" : [ ],
    "maxConcurrentTasks" : 1,
    "name" : "DEMO_EL",
    "outputPorts" : [ ],
    "parameterContextName" : "Parameters",
    "position" : {
      "x" : 0.0,
      "y" : 0.0
    },
    "processGroups" : [ ],
    "processors" : [ {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.5.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "3657a2d7-2cee-3d60-9914-b87813eaf357",
      "maxBackoffPeriod" : "10 mins",
      "name" : "GenerateFlowFile",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -184.0,
        "y" : -96.0
      },
      "properties" : {
        "character-set" : "UTF-8",
        "hostName" : "${hostname()}",
        "item" : "${random():mod(5)}",
        "mime-type" : "application/json",
        "IP\t" : "${ip()}",
        "string" : "value",
        "list" : "val_1, val_2, val_3, val_4",
        "literal" : "${literal(10):gt(1)}",
        "number" : "${random():mod(12):plus(1)}",
        "iterator" : "${nextInt()}",
        "File Size" : "0B",
        "generate-ff-custom-text" : "{\"device\": \"Laptop\", \"brand\": \"Dell\", \"specifications\": [ \"Intel Core i7\", \"16GB RAM\", \"512GB SSD\", \"NVIDIA GeForce GTX 1650\", \"Gold housing\", \"Extra DeskTop\" ] }",
        "Batch Size" : "1",
        "Unique FlowFiles" : "false",
        "Data Format" : "Text"
      },
      "propertyDescriptors" : {
        "character-set" : {
          "displayName" : "Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "character-set",
          "sensitive" : false
        },
        "hostName" : {
          "displayName" : "hostName",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "hostName",
          "sensitive" : false
        },
        "item" : {
          "displayName" : "item",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "item",
          "sensitive" : false
        },
        "mime-type" : {
          "displayName" : "Mime Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "mime-type",
          "sensitive" : false
        },
        "IP\t" : {
          "displayName" : "IP\t",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "IP\t",
          "sensitive" : false
        },
        "string" : {
          "displayName" : "string",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "string",
          "sensitive" : false
        },
        "list" : {
          "displayName" : "list",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "list",
          "sensitive" : false
        },
        "literal" : {
          "displayName" : "literal",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "literal",
          "sensitive" : false
        },
        "number" : {
          "displayName" : "number",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "number",
          "sensitive" : false
        },
        "iterator" : {
          "displayName" : "iterator",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "iterator",
          "sensitive" : false
        },
        "File Size" : {
          "displayName" : "File Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "File Size",
          "sensitive" : false
        },
        "generate-ff-custom-text" : {
          "displayName" : "Custom Text",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "generate-ff-custom-text",
          "sensitive" : false
        },
        "Batch Size" : {
          "displayName" : "Batch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Batch Size",
          "sensitive" : false
        },
        "Unique FlowFiles" : {
          "displayName" : "Unique FlowFiles",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Unique FlowFiles",
          "sensitive" : false
        },
        "Data Format" : {
          "displayName" : "Data Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Data Format",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "5 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-update-attribute-nar",
        "group" : "org.apache.nifi",
        "version" : "2.5.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "af57fc05-528b-35ad-96a9-91e000beb155",
      "maxBackoffPeriod" : "10 mins",
      "name" : "UpdateAttribute",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -184.0,
        "y" : 136.0
      },
      "properties" : {
        "BIG" : "${string:toUpper()}",
        "countList" : "${allDelineatedValues(\"${list}\", \",\"):count()}",
        "Store State" : "Do not store state",
        "canonical-value-lookup-cache-size" : "100",
        "numberDays" : "${number:matches('1|3|5|7|8|10|12'):ifElse(\n  '31',\n  ${number:matches('4|6|9|11'):ifElse(\n    '30',\n    ${number:matches('2'):ifElse('28', 'default')}\n  )}\n)}"
      },
      "propertyDescriptors" : {
        "BIG" : {
          "displayName" : "BIG",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "BIG",
          "sensitive" : false
        },
        "Delete Attributes Expression" : {
          "displayName" : "Delete Attributes Expression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Delete Attributes Expression",
          "sensitive" : false
        },
        "countList" : {
          "displayName" : "countList",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "countList",
          "sensitive" : false
        },
        "Store State" : {
          "displayName" : "Store State",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Store State",
          "sensitive" : false
        },
        "canonical-value-lookup-cache-size" : {
          "displayName" : "Cache Value Lookup Cache Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "canonical-value-lookup-cache-size",
          "sensitive" : false
        },
        "numberDays" : {
          "displayName" : "numberDays",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "numberDays",
          "sensitive" : false
        },
        "Stateful Variables Initial Value" : {
          "displayName" : "Stateful Variables Initial Value",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Stateful Variables Initial Value",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-jolt-nar",
        "group" : "org.apache.nifi",
        "version" : "2.5.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "c03039ea-1b66-3162-b84c-c4ab57f84673",
      "maxBackoffPeriod" : "10 mins",
      "name" : "JoltTransformJSON",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -184.0,
        "y" : 368.0
      },
      "properties" : {
        "JSON Source" : "FLOW_FILE",
        "Jolt Transform" : "jolt-transform-chain",
        "Max String Length" : "20 MB",
        "Transform Cache Size" : "1",
        "Pretty Print" : "false",
        "Jolt Specification" : "[ { \"operation\": \"shift\", \"spec\": { \"specifications\": { \"${item}\": \"failed\" }, \"*\": \"&\" } } ]"
      },
      "propertyDescriptors" : {
        "JSON Source" : {
          "displayName" : "JSON Source",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "JSON Source",
          "sensitive" : false
        },
        "Jolt Transform" : {
          "displayName" : "Jolt Transform",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Jolt Transform",
          "sensitive" : false
        },
        "JSON Source Attribute" : {
          "displayName" : "JSON Source Attribute",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "JSON Source Attribute",
          "sensitive" : false
        },
        "Max String Length" : {
          "displayName" : "Max String Length",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max String Length",
          "sensitive" : false
        },
        "Transform Cache Size" : {
          "displayName" : "Transform Cache Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Transform Cache Size",
          "sensitive" : false
        },
        "Custom Transformation Class Name" : {
          "displayName" : "Custom Transformation Class Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Custom Transformation Class Name",
          "sensitive" : false
        },
        "Custom Module Directory" : {
          "displayName" : "Custom Module Directory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Custom Module Directory",
          "resourceDefinition" : {
            "cardinality" : "MULTIPLE",
            "resourceTypes" : [ "DIRECTORY", "FILE" ]
          },
          "sensitive" : false
        },
        "Pretty Print" : {
          "displayName" : "Pretty Print",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Pretty Print",
          "sensitive" : false
        },
        "Jolt Specification" : {
          "displayName" : "Jolt Specification",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Jolt Specification",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE", "TEXT" ]
          },
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.jolt.JoltTransformJSON",
      "yieldDuration" : "1 sec"
    } ],
    "remoteProcessGroups" : [ ],
    "scheduledState" : "ENABLED",
    "statelessFlowTimeout" : "1 min"
  },
  "flowEncodingVersion" : "1.0",
  "latest" : false,
  "parameterContexts" : {
    "Parameters" : {
      "componentType" : "PARAMETER_CONTEXT",
      "inheritedParameterContexts" : [ ],
      "name" : "Parameters",
      "parameters" : [ {
        "description" : "",
        "name" : "Number",
        "provided" : false,
        "sensitive" : false,
        "value" : "06"
      } ]
    }
  },
  "parameterProviders" : { },
  "snapshotMetadata" : {
    "flowIdentifier" : "DEMOEL",
    "timestamp" : 1758468476707
  }
}