templates_128/Expressions.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>290eeff9-0192-1000-b514-ad0ed075274a</groupId>
    <name>Expressions</name>
    <snippet>
        <processGroups>
            <id>ca4b4d24-4f6c-3d62-0000-000000000000</id>
            <parentGroupId>18303c07-74ce-3825-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <versionedComponentId>ca4b4d24-4f6c-3d62-bb3a-0b8d6bbbc110</versionedComponentId>
            <comments></comments>
            <contents>
                <connections>
                    <id>03d78f21-000b-37a1-0000-000000000000</id>
                    <parentGroupId>ca4b4d24-4f6c-3d62-0000-000000000000</parentGroupId>
                    <versionedComponentId>03d78f21-000b-37a1-9e2c-ada1e567f3cb</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>ca4b4d24-4f6c-3d62-0000-000000000000</groupId>
                        <id>022a7f3d-9b74-3380-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>022a7f3d-9b74-3380-96ed-7da5042c0684</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>ca4b4d24-4f6c-3d62-0000-000000000000</groupId>
                        <id>f7551cdf-bc6b-3c2c-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>f7551cdf-bc6b-3c2c-a9b0-b032fb2ae529</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>0b42ae5d-e7ad-3000-0000-000000000000</id>
                    <parentGroupId>ca4b4d24-4f6c-3d62-0000-000000000000</parentGroupId>
                    <versionedComponentId>0b42ae5d-e7ad-3000-b8a5-fa6792fbf297</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>ca4b4d24-4f6c-3d62-0000-000000000000</groupId>
                        <id>cb747ffd-1fbc-3379-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>cb747ffd-1fbc-3379-be9c-cabb0aaf3824</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>ca4b4d24-4f6c-3d62-0000-000000000000</groupId>
                        <id>461f2d68-4200-3528-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>461f2d68-4200-3528-a7a1-71c2022c1322</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>710bd4b2-2b01-3397-0000-000000000000</id>
                    <parentGroupId>ca4b4d24-4f6c-3d62-0000-000000000000</parentGroupId>
                    <versionedComponentId>710bd4b2-2b01-3397-a717-3a55c7eaacd0</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>ca4b4d24-4f6c-3d62-0000-000000000000</groupId>
                        <id>c5a5142b-b889-3684-0000-000000000000</id>
                        <type>FUNNEL</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>ca4b4d24-4f6c-3d62-0000-000000000000</groupId>
                        <id>cb747ffd-1fbc-3379-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>cb747ffd-1fbc-3379-be9c-cabb0aaf3824</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>dd5ae909-bb12-3864-0000-000000000000</id>
                    <parentGroupId>ca4b4d24-4f6c-3d62-0000-000000000000</parentGroupId>
                    <versionedComponentId>dd5ae909-bb12-3864-bd4e-d426cd8d4bc2</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>ca4b4d24-4f6c-3d62-0000-000000000000</groupId>
                        <id>f7551cdf-bc6b-3c2c-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>f7551cdf-bc6b-3c2c-a9b0-b032fb2ae529</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>ca4b4d24-4f6c-3d62-0000-000000000000</groupId>
                        <id>44e1b8c5-d45a-31c5-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>44e1b8c5-d45a-31c5-83b4-f6747a50d74e</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <funnels>
                    <id>022a7f3d-9b74-3380-0000-000000000000</id>
                    <parentGroupId>ca4b4d24-4f6c-3d62-0000-000000000000</parentGroupId>
                    <position>
                        <x>624.0</x>
                        <y>560.0</y>
                    </position>
                    <versionedComponentId>022a7f3d-9b74-3380-96ed-7da5042c0684</versionedComponentId>
                </funnels>
                <funnels>
                    <id>c5a5142b-b889-3684-0000-000000000000</id>
                    <parentGroupId>ca4b4d24-4f6c-3d62-0000-000000000000</parentGroupId>
                    <position>
                        <x>1296.0</x>
                        <y>560.0</y>
                    </position>
                </funnels>
                <processors>
                    <id>44e1b8c5-d45a-31c5-0000-000000000000</id>
                    <parentGroupId>ca4b4d24-4f6c-3d62-0000-000000000000</parentGroupId>
                    <position>
                        <x>472.0</x>
                        <y>-8.0</y>
                    </position>
                    <versionedComponentId>44e1b8c5-d45a-31c5-83b4-f6747a50d74e</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.27.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>File Size</key>
<value>
    <name>File Size</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>
    <name>Data Format</name>
</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>
    <name>Unique FlowFiles</name>
</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
<value>
    <name>generate-ff-custom-text</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                            <entry>
<key>mime-type</key>
<value>
    <name>mime-type</name>
</value>
                            </entry>
                            <entry>
<key>hostName</key>
<value>
    <name>hostName</name>
</value>
                            </entry>
                            <entry>
<key>IP</key>
<value>
    <name>IP</name>
</value>
                            </entry>
                            <entry>
<key>list</key>
<value>
    <name>list</name>
</value>
                            </entry>
                            <entry>
<key>literal</key>
<value>
    <name>literal</name>
</value>
                            </entry>
                            <entry>
<key>number</key>
<value>
    <name>number</name>
</value>
                            </entry>
                            <entry>
<key>string</key>
<value>
    <name>string</name>
</value>
                            </entry>
                            <entry>
<key>UUID</key>
<value>
    <name>UUID</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>File Size</key>
<value>0B</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>Text</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>false</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>mime-type</key>
                            </entry>
                            <entry>
<key>hostName</key>
<value>${hostname()}</value>
                            </entry>
                            <entry>
<key>IP</key>
<value>${ip()}</value>
                            </entry>
                            <entry>
<key>list</key>
<value>val_1, val_2, val_3, val_4</value>
                            </entry>
                            <entry>
<key>literal</key>
<value>${literal(10):gt(1)}</value>
                            </entry>
                            <entry>
<key>number</key>
<value>${random():mod(12):plus(1)}</value>
                            </entry>
                            <entry>
<key>string</key>
<value>value</value>
                            </entry>
                            <entry>
<key>UUID</key>
<value>${nextInt()}</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>1 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>GenerateFlowFileForEL</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
                </processors>
                <processors>
                    <id>461f2d68-4200-3528-0000-000000000000</id>
                    <parentGroupId>ca4b4d24-4f6c-3d62-0000-000000000000</parentGroupId>
                    <position>
                        <x>1144.0</x>
                        <y>-8.0</y>
                    </position>
                    <versionedComponentId>461f2d68-4200-3528-a7a1-71c2022c1322</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.27.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>File Size</key>
<value>
    <name>File Size</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>
    <name>Data Format</name>
</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>
    <name>Unique FlowFiles</name>
</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
<value>
    <name>generate-ff-custom-text</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                            <entry>
<key>mime-type</key>
<value>
    <name>mime-type</name>
</value>
                            </entry>
                            <entry>
<key>item</key>
<value>
    <name>item</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>File Size</key>
<value>0B</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>Text</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>false</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
<value>{"device": "Laptop",
 "brand": "Dell",
  "specifications": [
    "Intel Core i7",
    "16GB RAM",
    "512GB SSD",
    "NVIDIA GeForce GTX 1650",
	"Gold housing",
	"Extra DeskTop"
  ]
}
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>mime-type</key>
<value>application/json</value>
                            </entry>
                            <entry>
<key>item</key>
<value>${random():mod(5)}</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>1 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>GenerateFlowFileForJOLT</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
                </processors>
                <processors>
                    <id>cb747ffd-1fbc-3379-0000-000000000000</id>
                    <parentGroupId>ca4b4d24-4f6c-3d62-0000-000000000000</parentGroupId>
                    <position>
                        <x>1144.0</x>
                        <y>208.0</y>
                    </position>
                    <versionedComponentId>cb747ffd-1fbc-3379-be9c-cabb0aaf3824</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.27.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>jolt-transform</key>
<value>
    <name>jolt-transform</name>
</value>
                            </entry>
                            <entry>
<key>jolt-custom-class</key>
<value>
    <dependencies>
        <dependentValues>jolt-transform-custom</dependentValues>
        <propertyName>jolt-transform</propertyName>
    </dependencies>
    <name>jolt-custom-class</name>
</value>
                            </entry>
                            <entry>
<key>jolt-custom-modules</key>
<value>
    <dependencies>
        <dependentValues>jolt-transform-custom</dependentValues>
        <propertyName>jolt-transform</propertyName>
    </dependencies>
    <name>jolt-custom-modules</name>
</value>
                            </entry>
                            <entry>
<key>jolt-spec</key>
<value>
    <name>jolt-spec</name>
</value>
                            </entry>
                            <entry>
<key>Transform Cache Size</key>
<value>
    <name>Transform Cache Size</name>
</value>
                            </entry>
                            <entry>
<key>pretty_print</key>
<value>
    <name>pretty_print</name>
</value>
                            </entry>
                            <entry>
<key>Max String Length</key>
<value>
    <name>Max String Length</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>jolt-transform</key>
<value>jolt-transform-chain</value>
                            </entry>
                            <entry>
<key>jolt-custom-class</key>
                            </entry>
                            <entry>
<key>jolt-custom-modules</key>
                            </entry>
                            <entry>
<key>jolt-spec</key>
<value>[
  {
    "operation": "shift",
    "spec": {
      "specifications": {
        "${item}": "failed" 
      },
      "*": "&amp;" 
    }
  }
]</value>
                            </entry>
                            <entry>
<key>Transform Cache Size</key>
<value>1</value>
                            </entry>
                            <entry>
<key>pretty_print</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Max String Length</key>
<value>20 MB</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>JoltTransformJSON</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.JoltTransformJSON</type>
                </processors>
                <processors>
                    <id>f7551cdf-bc6b-3c2c-0000-000000000000</id>
                    <parentGroupId>ca4b4d24-4f6c-3d62-0000-000000000000</parentGroupId>
                    <position>
                        <x>472.0</x>
                        <y>208.0</y>
                    </position>
                    <versionedComponentId>f7551cdf-bc6b-3c2c-a9b0-b032fb2ae529</versionedComponentId>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.27.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>BIG</key>
<value>
    <name>BIG</name>
</value>
                            </entry>
                            <entry>
<key>countList</key>
<value>
    <name>countList</name>
</value>
                            </entry>
                            <entry>
<key>numberDays</key>
<value>
    <name>numberDays</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>BIG</key>
<value>${string:toUpper()}</value>
                            </entry>
                            <entry>
<key>countList</key>
<value>${allDelineatedValues("${list}", ","):count()}</value>
                            </entry>
                            <entry>
<key>numberDays</key>
<value>${number:matches('1|3|5|7|8|10|12'):ifElse(
    '31', 
    ${number:matches('4|6|9|11'):ifElse(
        '30', 
        ${number:matches('2'):ifElse('28', 'default')}
    )}
)}</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>25</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>UpdateAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>Expressions</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>09/27/2024 07:45:04 UTC</timestamp>
</template>
