templates_128/lab_4_CDC_.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description>Захват изменения данных из бинарных логов MySQL БД </description>
    <groupId>df438f9c-0190-1000-7194-3666ac96f748</groupId>
    <name>lab_4 CDC </name>
    <snippet>
        <processGroups>
            <id>407bdbe4-8f09-3d46-0000-000000000000</id>
            <parentGroupId>903d41b7-a540-3bdf-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <versionedComponentId>407bdbe4-8f09-3d46-ac97-a21b46b932a4</versionedComponentId>
            <comments></comments>
            <contents>
                <connections>
                    <id>254698e1-8bc2-3cbb-0000-000000000000</id>
                    <parentGroupId>407bdbe4-8f09-3d46-0000-000000000000</parentGroupId>
                    <versionedComponentId>254698e1-8bc2-3cbb-b390-45f2ecfb32ff</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>1515.0000158053645</x>
                        <y>1128.9999570947555</y>
                    </bends>
                    <destination>
                        <groupId>407bdbe4-8f09-3d46-0000-000000000000</groupId>
                        <id>4586ca39-cb9e-306b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>4586ca39-cb9e-306b-a755-faf5d63ef1f5</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>407bdbe4-8f09-3d46-0000-000000000000</groupId>
                        <id>f30b4ec4-f1c4-3850-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>f30b4ec4-f1c4-3850-9073-a6a19a6d72b6</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>2ece1b8f-1a0f-3eb8-0000-000000000000</id>
                    <parentGroupId>407bdbe4-8f09-3d46-0000-000000000000</parentGroupId>
                    <versionedComponentId>2ece1b8f-1a0f-3eb8-8e86-4c2b58ff5ad6</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>407bdbe4-8f09-3d46-0000-000000000000</groupId>
                        <id>8bae84c5-04c6-30d5-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>8bae84c5-04c6-30d5-948f-92008925631a</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>delete</selectedRelationships>
                    <selectedRelationships>insert</selectedRelationships>
                    <selectedRelationships>update</selectedRelationships>
                    <source>
                        <groupId>407bdbe4-8f09-3d46-0000-000000000000</groupId>
                        <id>4e4bea5e-68fe-3772-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>4e4bea5e-68fe-3772-812f-8dc598af6aa5</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>3389c1b8-57f4-3039-0000-000000000000</id>
                    <parentGroupId>407bdbe4-8f09-3d46-0000-000000000000</parentGroupId>
                    <versionedComponentId>3389c1b8-57f4-3039-a351-f1e6bc070410</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>407bdbe4-8f09-3d46-0000-000000000000</groupId>
                        <id>f30b4ec4-f1c4-3850-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>f30b4ec4-f1c4-3850-9073-a6a19a6d72b6</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <prioritizers>org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer</prioritizers>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>407bdbe4-8f09-3d46-0000-000000000000</groupId>
                        <id>61443337-f902-31eb-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>61443337-f902-31eb-b7aa-6d1005894bc7</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>5835d100-fe05-332a-0000-000000000000</id>
                    <parentGroupId>407bdbe4-8f09-3d46-0000-000000000000</parentGroupId>
                    <versionedComponentId>5835d100-fe05-332a-aa2a-000dea6583d4</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>407bdbe4-8f09-3d46-0000-000000000000</groupId>
                        <id>61443337-f902-31eb-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>61443337-f902-31eb-b7aa-6d1005894bc7</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>407bdbe4-8f09-3d46-0000-000000000000</groupId>
                        <id>8a477ae1-3f48-3740-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>8a477ae1-3f48-3740-a710-5447dd3e39d2</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>7ba10821-3d1c-3ef4-0000-000000000000</id>
                    <parentGroupId>407bdbe4-8f09-3d46-0000-000000000000</parentGroupId>
                    <versionedComponentId>7ba10821-3d1c-3ef4-a5cf-8f7888d7c9cb</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>407bdbe4-8f09-3d46-0000-000000000000</groupId>
                        <id>8a477ae1-3f48-3740-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>8a477ae1-3f48-3740-a710-5447dd3e39d2</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>407bdbe4-8f09-3d46-0000-000000000000</groupId>
                        <id>82333ea2-e8f0-372a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>82333ea2-e8f0-372a-9e07-43abbce68d51</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>8c551143-6f23-3079-0000-000000000000</id>
                    <parentGroupId>407bdbe4-8f09-3d46-0000-000000000000</parentGroupId>
                    <versionedComponentId>8c551143-6f23-3079-9fc7-0603733345f6</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>407bdbe4-8f09-3d46-0000-000000000000</groupId>
                        <id>4586ca39-cb9e-306b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>4586ca39-cb9e-306b-a755-faf5d63ef1f5</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>407bdbe4-8f09-3d46-0000-000000000000</groupId>
                        <id>f30b4ec4-f1c4-3850-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>f30b4ec4-f1c4-3850-9073-a6a19a6d72b6</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>afce2c14-ddfa-3082-0000-000000000000</id>
                    <parentGroupId>407bdbe4-8f09-3d46-0000-000000000000</parentGroupId>
                    <versionedComponentId>afce2c14-ddfa-3082-b38a-a9cc3645fd46</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>1528.0</x>
                        <y>984.0</y>
                    </bends>
                    <bends>
                        <x>1528.0</x>
                        <y>1072.0</y>
                    </bends>
                    <destination>
                        <groupId>407bdbe4-8f09-3d46-0000-000000000000</groupId>
                        <id>61443337-f902-31eb-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>61443337-f902-31eb-b7aa-6d1005894bc7</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>wait</selectedRelationships>
                    <source>
                        <groupId>407bdbe4-8f09-3d46-0000-000000000000</groupId>
                        <id>61443337-f902-31eb-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>61443337-f902-31eb-b7aa-6d1005894bc7</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>bb2ac0ce-c073-374f-0000-000000000000</id>
                    <parentGroupId>407bdbe4-8f09-3d46-0000-000000000000</parentGroupId>
                    <versionedComponentId>bb2ac0ce-c073-374f-bb3d-bdedbe60896b</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>407bdbe4-8f09-3d46-0000-000000000000</groupId>
                        <id>2b598ae4-7f96-3039-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>2b598ae4-7f96-3039-9d40-ed5b1e1f25b0</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>begin</selectedRelationships>
                    <selectedRelationships>commit</selectedRelationships>
                    <source>
                        <groupId>407bdbe4-8f09-3d46-0000-000000000000</groupId>
                        <id>4e4bea5e-68fe-3772-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>4e4bea5e-68fe-3772-812f-8dc598af6aa5</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>c3d26272-fb45-3f10-0000-000000000000</id>
                    <parentGroupId>407bdbe4-8f09-3d46-0000-000000000000</parentGroupId>
                    <versionedComponentId>c3d26272-fb45-3f10-b0ad-437c0cd9e08a</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>407bdbe4-8f09-3d46-0000-000000000000</groupId>
                        <id>c5ba9379-39be-3bec-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>c5ba9379-39be-3bec-903b-bb4a79db2711</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>ddl</selectedRelationships>
                    <source>
                        <groupId>407bdbe4-8f09-3d46-0000-000000000000</groupId>
                        <id>4e4bea5e-68fe-3772-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>4e4bea5e-68fe-3772-812f-8dc598af6aa5</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>c8af0873-7ea5-366c-0000-000000000000</id>
                    <parentGroupId>407bdbe4-8f09-3d46-0000-000000000000</parentGroupId>
                    <versionedComponentId>c8af0873-7ea5-366c-b5ca-1f4be41db31d</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>407bdbe4-8f09-3d46-0000-000000000000</groupId>
                        <id>4e4bea5e-68fe-3772-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>4e4bea5e-68fe-3772-812f-8dc598af6aa5</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>407bdbe4-8f09-3d46-0000-000000000000</groupId>
                        <id>37735284-f863-39ec-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>37735284-f863-39ec-811e-688707f347bb</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>d6b226f2-f53e-399b-0000-000000000000</id>
                    <parentGroupId>407bdbe4-8f09-3d46-0000-000000000000</parentGroupId>
                    <versionedComponentId>d6b226f2-f53e-399b-a55e-a561dda1ac07</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>407bdbe4-8f09-3d46-0000-000000000000</groupId>
                        <id>301be11c-750d-3554-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>301be11c-750d-3554-9b16-75079698eb8b</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>skipped</selectedRelationships>
                    <source>
                        <groupId>407bdbe4-8f09-3d46-0000-000000000000</groupId>
                        <id>61443337-f902-31eb-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>61443337-f902-31eb-b7aa-6d1005894bc7</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>e28b6023-71cb-3fb1-0000-000000000000</id>
                    <parentGroupId>407bdbe4-8f09-3d46-0000-000000000000</parentGroupId>
                    <versionedComponentId>e28b6023-71cb-3fb1-b2ec-5903c57230ac</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>407bdbe4-8f09-3d46-0000-000000000000</groupId>
                        <id>c5ba9379-39be-3bec-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>c5ba9379-39be-3bec-903b-bb4a79db2711</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>407bdbe4-8f09-3d46-0000-000000000000</groupId>
                        <id>2b598ae4-7f96-3039-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>2b598ae4-7f96-3039-9d40-ed5b1e1f25b0</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>e2f51db9-0d06-30de-0000-000000000000</id>
                    <parentGroupId>407bdbe4-8f09-3d46-0000-000000000000</parentGroupId>
                    <versionedComponentId>e2f51db9-0d06-30de-aae0-eb674680c4bf</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>1507.0000158053645</x>
                        <y>1272.9999570947555</y>
                    </bends>
                    <destination>
                        <groupId>407bdbe4-8f09-3d46-0000-000000000000</groupId>
                        <id>4586ca39-cb9e-306b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>4586ca39-cb9e-306b-a755-faf5d63ef1f5</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>retry</selectedRelationships>
                    <source>
                        <groupId>407bdbe4-8f09-3d46-0000-000000000000</groupId>
                        <id>f30b4ec4-f1c4-3850-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>f30b4ec4-f1c4-3850-9073-a6a19a6d72b6</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>e451dd46-c507-3db0-0000-000000000000</id>
                    <parentGroupId>407bdbe4-8f09-3d46-0000-000000000000</parentGroupId>
                    <versionedComponentId>e451dd46-c507-3db0-be80-f3beb991b526</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>407bdbe4-8f09-3d46-0000-000000000000</groupId>
                        <id>61443337-f902-31eb-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>61443337-f902-31eb-b7aa-6d1005894bc7</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>407bdbe4-8f09-3d46-0000-000000000000</groupId>
                        <id>c5ba9379-39be-3bec-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>c5ba9379-39be-3bec-903b-bb4a79db2711</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>e60f4b18-9eee-3578-0000-000000000000</id>
                    <parentGroupId>407bdbe4-8f09-3d46-0000-000000000000</parentGroupId>
                    <versionedComponentId>e60f4b18-9eee-3578-bbf6-5374100378ee</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>407bdbe4-8f09-3d46-0000-000000000000</groupId>
                        <id>82333ea2-e8f0-372a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>82333ea2-e8f0-372a-9e07-43abbce68d51</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>407bdbe4-8f09-3d46-0000-000000000000</groupId>
                        <id>8bae84c5-04c6-30d5-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>8bae84c5-04c6-30d5-948f-92008925631a</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <controllerServices>
                    <id>2b5065df-5721-345b-0000-000000000000</id>
                    <parentGroupId>407bdbe4-8f09-3d46-0000-000000000000</parentGroupId>
                    <versionedComponentId>2b5065df-5721-345b-be0c-0a48671a6125</versionedComponentId>
                    <bulletinLevel>WARN</bulletinLevel>
                    <bundle>
                        <artifact>nifi-dbcp-service-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.27.0</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>Database Connection URL</key>
                            <value>
<name>Database Connection URL</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Database Driver Class Name</key>
                            <value>
<name>Database Driver Class Name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>database-driver-locations</key>
                            <value>
<name>database-driver-locations</name>
                            </value>
                        </entry>
                        <entry>
                            <key>kerberos-user-service</key>
                            <value>
<identifiesControllerService>org.apache.nifi.kerberos.KerberosUserService</identifiesControllerService>
<name>kerberos-user-service</name>
                            </value>
                        </entry>
                        <entry>
                            <key>kerberos-credentials-service</key>
                            <value>
<identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
<name>kerberos-credentials-service</name>
                            </value>
                        </entry>
                        <entry>
                            <key>kerberos-principal</key>
                            <value>
<name>kerberos-principal</name>
                            </value>
                        </entry>
                        <entry>
                            <key>kerberos-password</key>
                            <value>
<name>kerberos-password</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Database User</key>
                            <value>
<name>Database User</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Password</key>
                            <value>
<name>Password</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Max Wait Time</key>
                            <value>
<name>Max Wait Time</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Max Total Connections</key>
                            <value>
<name>Max Total Connections</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Validation-query</key>
                            <value>
<name>Validation-query</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-min-idle-conns</key>
                            <value>
<name>dbcp-min-idle-conns</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-max-idle-conns</key>
                            <value>
<name>dbcp-max-idle-conns</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-max-conn-lifetime</key>
                            <value>
<name>dbcp-max-conn-lifetime</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-time-between-eviction-runs</key>
                            <value>
<name>dbcp-time-between-eviction-runs</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-min-evictable-idle-time</key>
                            <value>
<name>dbcp-min-evictable-idle-time</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-soft-min-evictable-idle-time</key>
                            <value>
<name>dbcp-soft-min-evictable-idle-time</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>DBCPConnectionPool</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>Database Connection URL</key>
                            <value>jdbc:mysql://10.129.0.194:3306/copy</value>
                        </entry>
                        <entry>
                            <key>Database Driver Class Name</key>
                            <value>com.mysql.jdbc.Driver</value>
                        </entry>
                        <entry>
                            <key>database-driver-locations</key>
                            <value>/home/centos/mysql-connector-java-8.0.30.jar</value>
                        </entry>
                        <entry>
                            <key>kerberos-user-service</key>
                        </entry>
                        <entry>
                            <key>kerberos-credentials-service</key>
                        </entry>
                        <entry>
                            <key>kerberos-principal</key>
                        </entry>
                        <entry>
                            <key>kerberos-password</key>
                        </entry>
                        <entry>
                            <key>Database User</key>
                            <value>root</value>
                        </entry>
                        <entry>
                            <key>Password</key>
                        </entry>
                        <entry>
                            <key>Max Wait Time</key>
                            <value>500 millis</value>
                        </entry>
                        <entry>
                            <key>Max Total Connections</key>
                            <value>8</value>
                        </entry>
                        <entry>
                            <key>Validation-query</key>
                        </entry>
                        <entry>
                            <key>dbcp-min-idle-conns</key>
                            <value>0</value>
                        </entry>
                        <entry>
                            <key>dbcp-max-idle-conns</key>
                            <value>8</value>
                        </entry>
                        <entry>
                            <key>dbcp-max-conn-lifetime</key>
                            <value>-1</value>
                        </entry>
                        <entry>
                            <key>dbcp-time-between-eviction-runs</key>
                            <value>-1</value>
                        </entry>
                        <entry>
                            <key>dbcp-min-evictable-idle-time</key>
                            <value>30 mins</value>
                        </entry>
                        <entry>
                            <key>dbcp-soft-min-evictable-idle-time</key>
                            <value>-1</value>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.dbcp.DBCPConnectionPool</type>
                </controllerServices>
                <controllerServices>
                    <id>a7f1c159-6a3c-33f8-0000-000000000000</id>
                    <parentGroupId>407bdbe4-8f09-3d46-0000-000000000000</parentGroupId>
                    <versionedComponentId>a7f1c159-6a3c-33f8-88d5-c7d455240be8</versionedComponentId>
                    <bulletinLevel>WARN</bulletinLevel>
                    <bundle>
                        <artifact>nifi-record-serialization-services-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.27.0</version>
                    </bundle>
                    <descriptors>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>
<name>schema-access-strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                            <value>
<dependencies>
    <dependentValues>confluent-encoded</dependentValues>
    <dependentValues>schema-name</dependentValues>
    <dependentValues>hwx-schema-ref-attributes</dependentValues>
    <dependentValues>hwx-content-encoded-schema</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
<name>schema-registry</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-branch</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>
<dependencies>
    <dependentValues>schema-text-property</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-text</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-inference-cache</key>
                            <value>
<dependencies>
    <dependentValues>infer-schema</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
<name>schema-inference-cache</name>
                            </value>
                        </entry>
                        <entry>
                            <key>starting-field-strategy</key>
                            <value>
<name>starting-field-strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>starting-field-name</key>
                            <value>
<dependencies>
    <dependentValues>NESTED_FIELD</dependentValues>
    <propertyName>starting-field-strategy</propertyName>
</dependencies>
<name>starting-field-name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-application-strategy</key>
                            <value>
<dependencies>
    <dependentValues>confluent-encoded</dependentValues>
    <dependentValues>schema-name</dependentValues>
    <dependentValues>schema-text-property</dependentValues>
    <dependentValues>hwx-schema-ref-attributes</dependentValues>
    <dependentValues>hwx-content-encoded-schema</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<dependencies>
    <dependentValues>NESTED_FIELD</dependentValues>
    <propertyName>starting-field-strategy</propertyName>
</dependencies>
<name>schema-application-strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Max String Length</key>
                            <value>
<name>Max String Length</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Allow Comments</key>
                            <value>
<name>Allow Comments</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                            <value>
<name>Date Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                            <value>
<name>Time Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                            <value>
<name>Timestamp Format</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>JsonTreeReader</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>infer-schema</value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>${schema.name}</value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>${avro.schema}</value>
                        </entry>
                        <entry>
                            <key>schema-inference-cache</key>
                        </entry>
                        <entry>
                            <key>starting-field-strategy</key>
                            <value>ROOT_NODE</value>
                        </entry>
                        <entry>
                            <key>starting-field-name</key>
                        </entry>
                        <entry>
                            <key>schema-application-strategy</key>
                            <value>SELECTED_PART</value>
                        </entry>
                        <entry>
                            <key>Max String Length</key>
                            <value>20 MB</value>
                        </entry>
                        <entry>
                            <key>Allow Comments</key>
                            <value>false</value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.json.JsonTreeReader</type>
                </controllerServices>
                <controllerServices>
                    <id>d2f73ad5-00e8-37b5-0000-000000000000</id>
                    <parentGroupId>407bdbe4-8f09-3d46-0000-000000000000</parentGroupId>
                    <versionedComponentId>d2f73ad5-00e8-37b5-a66e-83f8cb387875</versionedComponentId>
                    <bulletinLevel>WARN</bulletinLevel>
                    <bundle>
                        <artifact>nifi-distributed-cache-services-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.27.0</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>Server Hostname</key>
                            <value>
<name>Server Hostname</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Server Port</key>
                            <value>
<name>Server Port</name>
                            </value>
                        </entry>
                        <entry>
                            <key>SSL Context Service</key>
                            <value>
<identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
<name>SSL Context Service</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Communications Timeout</key>
                            <value>
<name>Communications Timeout</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>DistributedMapCacheClientService</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>Server Hostname</key>
                            <value>10.129.0.194</value>
                        </entry>
                        <entry>
                            <key>Server Port</key>
                            <value>3306</value>
                        </entry>
                        <entry>
                            <key>SSL Context Service</key>
                        </entry>
                        <entry>
                            <key>Communications Timeout</key>
                            <value>30 secs</value>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.distributed.cache.client.DistributedMapCacheClientService</type>
                </controllerServices>
                <processors>
                    <id>2b598ae4-7f96-3039-0000-000000000000</id>
                    <parentGroupId>407bdbe4-8f09-3d46-0000-000000000000</parentGroupId>
                    <position>
                        <x>1534.0000415345294</x>
                        <y>466.9999815120939</y>
                    </position>
                    <versionedComponentId>2b598ae4-7f96-3039-9d40-ed5b1e1f25b0</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.27.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>jolt-transform</key>
<value>
    <name>jolt-transform</name>
</value>
                            </entry>
                            <entry>
<key>jolt-custom-class</key>
<value>
    <dependencies>
        <dependentValues>jolt-transform-custom</dependentValues>
        <propertyName>jolt-transform</propertyName>
    </dependencies>
    <name>jolt-custom-class</name>
</value>
                            </entry>
                            <entry>
<key>jolt-custom-modules</key>
<value>
    <dependencies>
        <dependentValues>jolt-transform-custom</dependentValues>
        <propertyName>jolt-transform</propertyName>
    </dependencies>
    <name>jolt-custom-modules</name>
</value>
                            </entry>
                            <entry>
<key>jolt-spec</key>
<value>
    <name>jolt-spec</name>
</value>
                            </entry>
                            <entry>
<key>Transform Cache Size</key>
<value>
    <name>Transform Cache Size</name>
</value>
                            </entry>
                            <entry>
<key>pretty_print</key>
<value>
    <name>pretty_print</name>
</value>
                            </entry>
                            <entry>
<key>Max String Length</key>
<value>
    <name>Max String Length</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>jolt-transform</key>
<value>jolt-transform-shift</value>
                            </entry>
                            <entry>
<key>jolt-custom-class</key>
                            </entry>
                            <entry>
<key>jolt-custom-modules</key>
                            </entry>
                            <entry>
<key>jolt-spec</key>
<value>{
  "type": "query"
}</value>
                            </entry>
                            <entry>
<key>Transform Cache Size</key>
<value>1</value>
                            </entry>
                            <entry>
<key>pretty_print</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Max String Length</key>
<value>20 MB</value>
                            </entry>
                        </properties>
                        <retryCount>0</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>JoltTransformJSON</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.JoltTransformJSON</type>
                </processors>
                <processors>
                    <id>301be11c-750d-3554-0000-000000000000</id>
                    <parentGroupId>407bdbe4-8f09-3d46-0000-000000000000</parentGroupId>
                    <position>
                        <x>1656.0</x>
                        <y>776.0</y>
                    </position>
                    <versionedComponentId>301be11c-750d-3554-9b16-75079698eb8b</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.27.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Log Level</key>
<value>
    <name>Log Level</name>
</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>
    <name>Log Payload</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
<value>
    <name>Attributes to Log</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>
    <name>attributes-to-log-regex</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
<value>
    <name>Attributes to Ignore</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
<value>
    <name>attributes-to-ignore-regex</name>
</value>
                            </entry>
                            <entry>
<key>Log FlowFile Properties</key>
<value>
    <name>Log FlowFile Properties</name>
</value>
                            </entry>
                            <entry>
<key>Output Format</key>
<value>
    <name>Output Format</name>
</value>
                            </entry>
                            <entry>
<key>Log prefix</key>
<value>
    <name>Log prefix</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Log Level</key>
<value>info</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>.*</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
                            </entry>
                            <entry>
<key>Log FlowFile Properties</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Output Format</key>
<value>Line per Attribute</value>
                            </entry>
                            <entry>
<key>Log prefix</key>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                        </properties>
                        <retryCount>0</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>LogAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.LogAttribute</type>
                </processors>
                <processors>
                    <id>37735284-f863-39ec-0000-000000000000</id>
                    <parentGroupId>407bdbe4-8f09-3d46-0000-000000000000</parentGroupId>
                    <position>
                        <x>1008.0</x>
                        <y>72.0</y>
                    </position>
                    <versionedComponentId>37735284-f863-39ec-811e-688707f347bb</versionedComponentId>
                    <bundle>
                        <artifact>nifi-cdc-mysql-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.27.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>ERROR</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>capture-change-mysql-hosts</key>
<value>
    <name>capture-change-mysql-hosts</name>
</value>
                            </entry>
                            <entry>
<key>capture-change-mysql-driver-class</key>
<value>
    <name>capture-change-mysql-driver-class</name>
</value>
                            </entry>
                            <entry>
<key>capture-change-mysql-driver-locations</key>
<value>
    <name>capture-change-mysql-driver-locations</name>
</value>
                            </entry>
                            <entry>
<key>capture-change-mysql-username</key>
<value>
    <name>capture-change-mysql-username</name>
</value>
                            </entry>
                            <entry>
<key>capture-change-mysql-password</key>
<value>
    <name>capture-change-mysql-password</name>
</value>
                            </entry>
                            <entry>
<key>events-per-flowfile-strategy</key>
<value>
    <name>events-per-flowfile-strategy</name>
</value>
                            </entry>
                            <entry>
<key>number-of-events-per-flowfile</key>
<value>
    <dependencies>
        <dependentValues>MAX_EVENTS_PER_FLOWFILE</dependentValues>
        <propertyName>events-per-flowfile-strategy</propertyName>
    </dependencies>
    <name>number-of-events-per-flowfile</name>
</value>
                            </entry>
                            <entry>
<key>capture-change-mysql-server-id</key>
<value>
    <name>capture-change-mysql-server-id</name>
</value>
                            </entry>
                            <entry>
<key>capture-change-mysql-db-name-pattern</key>
<value>
    <name>capture-change-mysql-db-name-pattern</name>
</value>
                            </entry>
                            <entry>
<key>capture-change-mysql-name-pattern</key>
<value>
    <name>capture-change-mysql-name-pattern</name>
</value>
                            </entry>
                            <entry>
<key>capture-change-mysql-max-wait-time</key>
<value>
    <name>capture-change-mysql-max-wait-time</name>
</value>
                            </entry>
                            <entry>
<key>capture-change-mysql-dist-map-cache-client</key>
<value>
    <identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService>
    <name>capture-change-mysql-dist-map-cache-client</name>
</value>
                            </entry>
                            <entry>
<key>capture-change-mysql-retrieve-all-records</key>
<value>
    <name>capture-change-mysql-retrieve-all-records</name>
</value>
                            </entry>
                            <entry>
<key>capture-change-mysql-include-begin-commit</key>
<value>
    <name>capture-change-mysql-include-begin-commit</name>
</value>
                            </entry>
                            <entry>
<key>capture-change-mysql-include-ddl-events</key>
<value>
    <name>capture-change-mysql-include-ddl-events</name>
</value>
                            </entry>
                            <entry>
<key>capture-change-mysql-state-update-interval</key>
<value>
    <name>capture-change-mysql-state-update-interval</name>
</value>
                            </entry>
                            <entry>
<key>capture-change-mysql-init-seq-id</key>
<value>
    <name>capture-change-mysql-init-seq-id</name>
</value>
                            </entry>
                            <entry>
<key>capture-change-mysql-init-binlog-filename</key>
<value>
    <name>capture-change-mysql-init-binlog-filename</name>
</value>
                            </entry>
                            <entry>
<key>capture-change-mysql-init-binlog-position</key>
<value>
    <name>capture-change-mysql-init-binlog-position</name>
</value>
                            </entry>
                            <entry>
<key>capture-change-mysql-use-gtid</key>
<value>
    <name>capture-change-mysql-use-gtid</name>
</value>
                            </entry>
                            <entry>
<key>capture-change-mysql-init-gtid</key>
<value>
    <name>capture-change-mysql-init-gtid</name>
</value>
                            </entry>
                            <entry>
<key>SSL Mode</key>
<value>
    <name>SSL Mode</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <dependencies>
        <dependentValues>PREFERRED</dependentValues>
        <dependentValues>VERIFY_IDENTITY</dependentValues>
        <dependentValues>REQUIRED</dependentValues>
        <propertyName>SSL Mode</propertyName>
    </dependencies>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>PRIMARY</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>capture-change-mysql-hosts</key>
<value>10.129.0.194:3306</value>
                            </entry>
                            <entry>
<key>capture-change-mysql-driver-class</key>
<value>com.mysql.jdbc.Driver</value>
                            </entry>
                            <entry>
<key>capture-change-mysql-driver-locations</key>
<value>/home/centos/mysql-connector-java-8.0.30.jar</value>
                            </entry>
                            <entry>
<key>capture-change-mysql-username</key>
<value>root</value>
                            </entry>
                            <entry>
<key>capture-change-mysql-password</key>
                            </entry>
                            <entry>
<key>events-per-flowfile-strategy</key>
<value>MAX_EVENTS_PER_FLOWFILE</value>
                            </entry>
                            <entry>
<key>number-of-events-per-flowfile</key>
<value>1</value>
                            </entry>
                            <entry>
<key>capture-change-mysql-server-id</key>
<value>1</value>
                            </entry>
                            <entry>
<key>capture-change-mysql-db-name-pattern</key>
                            </entry>
                            <entry>
<key>capture-change-mysql-name-pattern</key>
<value>crypto</value>
                            </entry>
                            <entry>
<key>capture-change-mysql-max-wait-time</key>
<value>30 seconds</value>
                            </entry>
                            <entry>
<key>capture-change-mysql-dist-map-cache-client</key>
<value>d2f73ad5-00e8-37b5-0000-000000000000</value>
                            </entry>
                            <entry>
<key>capture-change-mysql-retrieve-all-records</key>
<value>true</value>
                            </entry>
                            <entry>
<key>capture-change-mysql-include-begin-commit</key>
<value>true</value>
                            </entry>
                            <entry>
<key>capture-change-mysql-include-ddl-events</key>
<value>true</value>
                            </entry>
                            <entry>
<key>capture-change-mysql-state-update-interval</key>
<value>0 seconds</value>
                            </entry>
                            <entry>
<key>capture-change-mysql-init-seq-id</key>
<value>0</value>
                            </entry>
                            <entry>
<key>capture-change-mysql-init-binlog-filename</key>
                            </entry>
                            <entry>
<key>capture-change-mysql-init-binlog-position</key>
                            </entry>
                            <entry>
<key>capture-change-mysql-use-gtid</key>
<value>false</value>
                            </entry>
                            <entry>
<key>capture-change-mysql-init-gtid</key>
                            </entry>
                            <entry>
<key>SSL Mode</key>
<value>DISABLED</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                        </properties>
                        <retryCount>0</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>200 millis</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>true</executionNodeRestricted>
                    <name>CaptureChangeMySQL</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#11de11</value>
                        </entry>
                    </style>
                    <type>org.apache.nifi.cdc.mysql.processors.CaptureChangeMySQL</type>
                </processors>
                <processors>
                    <id>4586ca39-cb9e-306b-0000-000000000000</id>
                    <parentGroupId>407bdbe4-8f09-3d46-0000-000000000000</parentGroupId>
                    <position>
                        <x>1651.0000158053645</x>
                        <y>1144.9999570947555</y>
                    </position>
                    <versionedComponentId>4586ca39-cb9e-306b-a755-faf5d63ef1f5</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.27.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Log Level</key>
<value>
    <name>Log Level</name>
</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>
    <name>Log Payload</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
<value>
    <name>Attributes to Log</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>
    <name>attributes-to-log-regex</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
<value>
    <name>Attributes to Ignore</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
<value>
    <name>attributes-to-ignore-regex</name>
</value>
                            </entry>
                            <entry>
<key>Log FlowFile Properties</key>
<value>
    <name>Log FlowFile Properties</name>
</value>
                            </entry>
                            <entry>
<key>Output Format</key>
<value>
    <name>Output Format</name>
</value>
                            </entry>
                            <entry>
<key>Log prefix</key>
<value>
    <name>Log prefix</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Log Level</key>
<value>info</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>.*</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
                            </entry>
                            <entry>
<key>Log FlowFile Properties</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Output Format</key>
<value>Line per Attribute</value>
                            </entry>
                            <entry>
<key>Log prefix</key>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                        </properties>
                        <retryCount>0</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>LogAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.LogAttribute</type>
                </processors>
                <processors>
                    <id>4e4bea5e-68fe-3772-0000-000000000000</id>
                    <parentGroupId>407bdbe4-8f09-3d46-0000-000000000000</parentGroupId>
                    <position>
                        <x>1006.0000415345295</x>
                        <y>282.9999815120939</y>
                    </position>
                    <versionedComponentId>4e4bea5e-68fe-3772-812f-8dc598af6aa5</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.27.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Routing Strategy</key>
<value>
    <name>Routing Strategy</name>
</value>
                            </entry>
                            <entry>
<key>begin</key>
<value>
    <name>begin</name>
</value>
                            </entry>
                            <entry>
<key>commit</key>
<value>
    <name>commit</name>
</value>
                            </entry>
                            <entry>
<key>ddl</key>
<value>
    <name>ddl</name>
</value>
                            </entry>
                            <entry>
<key>delete</key>
<value>
    <name>delete</name>
</value>
                            </entry>
                            <entry>
<key>insert</key>
<value>
    <name>insert</name>
</value>
                            </entry>
                            <entry>
<key>update</key>
<value>
    <name>update</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Routing Strategy</key>
<value>Route to Property name</value>
                            </entry>
                            <entry>
<key>begin</key>
<value>${cdc.event.type:equals('begin')}</value>
                            </entry>
                            <entry>
<key>commit</key>
<value>${cdc.event.type:equals('commit')}</value>
                            </entry>
                            <entry>
<key>ddl</key>
<value>${cdc.event.type:equals('ddl')}</value>
                            </entry>
                            <entry>
<key>delete</key>
<value>${cdc.event.type:equals('delete')}</value>
                            </entry>
                            <entry>
<key>insert</key>
<value>${cdc.event.type:equals('insert')}</value>
                            </entry>
                            <entry>
<key>update</key>
<value>${cdc.event.type:equals('update')}</value>
                            </entry>
                        </properties>
                        <retryCount>0</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>RouteOnAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>begin</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>commit</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>ddl</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>delete</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>insert</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>update</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
                </processors>
                <processors>
                    <id>61443337-f902-31eb-0000-000000000000</id>
                    <parentGroupId>407bdbe4-8f09-3d46-0000-000000000000</parentGroupId>
                    <position>
                        <x>1006.0000415345295</x>
                        <y>962.9999815120938</y>
                    </position>
                    <versionedComponentId>61443337-f902-31eb-b7aa-6d1005894bc7</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.27.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>group-id</key>
<value>
    <name>group-id</name>
</value>
                            </entry>
                            <entry>
<key>order-attribute</key>
<value>
    <name>order-attribute</name>
</value>
                            </entry>
                            <entry>
<key>initial-order</key>
<value>
    <name>initial-order</name>
</value>
                            </entry>
                            <entry>
<key>maximum-order</key>
<value>
    <name>maximum-order</name>
</value>
                            </entry>
                            <entry>
<key>batch-count</key>
<value>
    <name>batch-count</name>
</value>
                            </entry>
                            <entry>
<key>wait-timeout</key>
<value>
    <name>wait-timeout</name>
</value>
                            </entry>
                            <entry>
<key>inactive-timeout</key>
<value>
    <name>inactive-timeout</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>group-id</key>
<value>1</value>
                            </entry>
                            <entry>
<key>order-attribute</key>
<value>cdc.sequence.id</value>
                            </entry>
                            <entry>
<key>initial-order</key>
<value>0</value>
                            </entry>
                            <entry>
<key>maximum-order</key>
                            </entry>
                            <entry>
<key>batch-count</key>
<value>1000</value>
                            </entry>
                            <entry>
<key>wait-timeout</key>
<value>10 min</value>
                            </entry>
                            <entry>
<key>inactive-timeout</key>
<value>30 min</value>
                            </entry>
                        </properties>
                        <retryCount>0</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>EnforceOrder</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>overtook</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>skipped</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>wait</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#a60808</value>
                        </entry>
                    </style>
                    <type>org.apache.nifi.processors.standard.EnforceOrder</type>
                </processors>
                <processors>
                    <id>82333ea2-e8f0-372a-0000-000000000000</id>
                    <parentGroupId>407bdbe4-8f09-3d46-0000-000000000000</parentGroupId>
                    <position>
                        <x>419.00001580536457</x>
                        <y>720.9999570947554</y>
                    </position>
                    <versionedComponentId>82333ea2-e8f0-372a-9e07-43abbce68d51</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.27.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>jolt-transform</key>
<value>
    <name>jolt-transform</name>
</value>
                            </entry>
                            <entry>
<key>jolt-custom-class</key>
<value>
    <dependencies>
        <dependentValues>jolt-transform-custom</dependentValues>
        <propertyName>jolt-transform</propertyName>
    </dependencies>
    <name>jolt-custom-class</name>
</value>
                            </entry>
                            <entry>
<key>jolt-custom-modules</key>
<value>
    <dependencies>
        <dependentValues>jolt-transform-custom</dependentValues>
        <propertyName>jolt-transform</propertyName>
    </dependencies>
    <name>jolt-custom-modules</name>
</value>
                            </entry>
                            <entry>
<key>jolt-spec</key>
<value>
    <name>jolt-spec</name>
</value>
                            </entry>
                            <entry>
<key>Transform Cache Size</key>
<value>
    <name>Transform Cache Size</name>
</value>
                            </entry>
                            <entry>
<key>pretty_print</key>
<value>
    <name>pretty_print</name>
</value>
                            </entry>
                            <entry>
<key>Max String Length</key>
<value>
    <name>Max String Length</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>jolt-transform</key>
<value>jolt-transform-chain</value>
                            </entry>
                            <entry>
<key>jolt-custom-class</key>
                            </entry>
                            <entry>
<key>jolt-custom-modules</key>
                            </entry>
                            <entry>
<key>jolt-spec</key>
<value>[
  {
    "operation": "shift",
    "spec": {
      "columns": {
        "*": {
          "@(value)": "[#1].@(1,name)"
        }
      }
    }
  }
]</value>
                            </entry>
                            <entry>
<key>Transform Cache Size</key>
<value>1</value>
                            </entry>
                            <entry>
<key>pretty_print</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Max String Length</key>
<value>20 MB</value>
                            </entry>
                        </properties>
                        <retryCount>0</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Transform to Flat JSON</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.JoltTransformJSON</type>
                </processors>
                <processors>
                    <id>8a477ae1-3f48-3740-0000-000000000000</id>
                    <parentGroupId>407bdbe4-8f09-3d46-0000-000000000000</parentGroupId>
                    <position>
                        <x>416.0</x>
                        <y>960.0</y>
                    </position>
                    <versionedComponentId>8a477ae1-3f48-3740-a710-5447dd3e39d2</versionedComponentId>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.27.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>schema.name</key>
<value>
    <name>schema.name</name>
</value>
                            </entry>
                            <entry>
<key>statement.type</key>
<value>
    <name>statement.type</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>schema.name</key>
<value>users</value>
                            </entry>
                            <entry>
<key>statement.type</key>
<value>${cdc.event.type}</value>
                            </entry>
                        </properties>
                        <retryCount>0</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Schema=users &amp; Statement Type</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>8bae84c5-04c6-30d5-0000-000000000000</id>
                    <parentGroupId>407bdbe4-8f09-3d46-0000-000000000000</parentGroupId>
                    <position>
                        <x>422.0000415345295</x>
                        <y>466.9999815120939</y>
                    </position>
                    <versionedComponentId>8bae84c5-04c6-30d5-948f-92008925631a</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.27.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>
    <name>Return Type</name>
</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>
    <dependencies>
        <dependentValues>flowfile-attribute</dependentValues>
        <propertyName>Destination</propertyName>
    </dependencies>
    <name>Path Not Found Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                            <entry>
<key>Max String Length</key>
<value>
    <name>Max String Length</name>
</value>
                            </entry>
                            <entry>
<key>tableName</key>
<value>
    <name>tableName</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Destination</key>
<value>flowfile-attribute</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>auto-detect</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>ignore</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                            <entry>
<key>Max String Length</key>
<value>20 MB</value>
                            </entry>
                            <entry>
<key>tableName</key>
<value>$.table_name</value>
                            </entry>
                        </properties>
                        <retryCount>0</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Get Table Name</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                </processors>
                <processors>
                    <id>c5ba9379-39be-3bec-0000-000000000000</id>
                    <parentGroupId>407bdbe4-8f09-3d46-0000-000000000000</parentGroupId>
                    <position>
                        <x>1008.0</x>
                        <y>704.0</y>
                    </position>
                    <versionedComponentId>c5ba9379-39be-3bec-903b-bb4a79db2711</versionedComponentId>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.27.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>schema.name</key>
<value>
    <name>schema.name</name>
</value>
                            </entry>
                            <entry>
<key>statement.type</key>
<value>
    <name>statement.type</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>schema.name</key>
<value>query</value>
                            </entry>
                            <entry>
<key>statement.type</key>
<value>SQL</value>
                            </entry>
                        </properties>
                        <retryCount>0</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Schema=query &amp; SmtTyp=SQL</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>f30b4ec4-f1c4-3850-0000-000000000000</id>
                    <parentGroupId>407bdbe4-8f09-3d46-0000-000000000000</parentGroupId>
                    <position>
                        <x>1006.0000415345295</x>
                        <y>1138.9999815120939</y>
                    </position>
                    <versionedComponentId>f30b4ec4-f1c4-3850-9073-a6a19a6d72b6</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.27.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>put-db-record-record-reader</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
    <name>put-db-record-record-reader</name>
</value>
                            </entry>
                            <entry>
<key>db-type</key>
<value>
    <name>db-type</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-statement-type</key>
<value>
    <name>put-db-record-statement-type</name>
</value>
                            </entry>
                            <entry>
<key>Statement Type Record Path</key>
<value>
    <dependencies>
        <dependentValues>Use Record Path</dependentValues>
        <propertyName>put-db-record-statement-type</propertyName>
    </dependencies>
    <name>Statement Type Record Path</name>
</value>
                            </entry>
                            <entry>
<key>Data Record Path</key>
<value>
    <name>Data Record Path</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-dcbp-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
    <name>put-db-record-dcbp-service</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-catalog-name</key>
<value>
    <name>put-db-record-catalog-name</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-schema-name</key>
<value>
    <name>put-db-record-schema-name</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-table-name</key>
<value>
    <name>put-db-record-table-name</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-binary-format</key>
<value>
    <name>put-db-record-binary-format</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-translate-field-names</key>
<value>
    <name>put-db-record-translate-field-names</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-unmatched-field-behavior</key>
<value>
    <name>put-db-record-unmatched-field-behavior</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-unmatched-column-behavior</key>
<value>
    <name>put-db-record-unmatched-column-behavior</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-update-keys</key>
<value>
    <dependencies>
        <dependentValues>Use statement.type Attribute</dependentValues>
        <dependentValues>Use Record Path</dependentValues>
        <dependentValues>UPSERT</dependentValues>
        <dependentValues>UPDATE</dependentValues>
        <dependentValues>SQL</dependentValues>
        <propertyName>put-db-record-statement-type</propertyName>
    </dependencies>
    <name>put-db-record-update-keys</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-field-containing-sql</key>
<value>
    <dependencies>
        <dependentValues>Use statement.type Attribute</dependentValues>
        <dependentValues>Use Record Path</dependentValues>
        <propertyName>put-db-record-statement-type</propertyName>
    </dependencies>
    <name>put-db-record-field-containing-sql</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-allow-multiple-statements</key>
<value>
    <dependencies>
        <dependentValues>Use statement.type Attribute</dependentValues>
        <dependentValues>Use Record Path</dependentValues>
        <propertyName>put-db-record-statement-type</propertyName>
    </dependencies>
    <name>put-db-record-allow-multiple-statements</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-quoted-identifiers</key>
<value>
    <name>put-db-record-quoted-identifiers</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-quoted-table-identifiers</key>
<value>
    <name>put-db-record-quoted-table-identifiers</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-query-timeout</key>
<value>
    <name>put-db-record-query-timeout</name>
</value>
                            </entry>
                            <entry>
<key>rollback-on-failure</key>
<value>
    <name>rollback-on-failure</name>
</value>
                            </entry>
                            <entry>
<key>table-schema-cache-size</key>
<value>
    <name>table-schema-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-max-batch-size</key>
<value>
    <name>put-db-record-max-batch-size</name>
</value>
                            </entry>
                            <entry>
<key>database-session-autocommit</key>
<value>
    <name>database-session-autocommit</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>put-db-record-record-reader</key>
<value>a7f1c159-6a3c-33f8-0000-000000000000</value>
                            </entry>
                            <entry>
<key>db-type</key>
<value>MySQL</value>
                            </entry>
                            <entry>
<key>put-db-record-statement-type</key>
<value>Use statement.type Attribute</value>
                            </entry>
                            <entry>
<key>Statement Type Record Path</key>
                            </entry>
                            <entry>
<key>Data Record Path</key>
                            </entry>
                            <entry>
<key>put-db-record-dcbp-service</key>
<value>2b5065df-5721-345b-0000-000000000000</value>
                            </entry>
                            <entry>
<key>put-db-record-catalog-name</key>
                            </entry>
                            <entry>
<key>put-db-record-schema-name</key>
                            </entry>
                            <entry>
<key>put-db-record-table-name</key>
<value>${tableName}</value>
                            </entry>
                            <entry>
<key>put-db-record-binary-format</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>put-db-record-translate-field-names</key>
<value>true</value>
                            </entry>
                            <entry>
<key>put-db-record-unmatched-field-behavior</key>
<value>Ignore Unmatched Fields</value>
                            </entry>
                            <entry>
<key>put-db-record-unmatched-column-behavior</key>
<value>Fail on Unmatched Columns</value>
                            </entry>
                            <entry>
<key>put-db-record-update-keys</key>
                            </entry>
                            <entry>
<key>put-db-record-field-containing-sql</key>
<value>query</value>
                            </entry>
                            <entry>
<key>put-db-record-allow-multiple-statements</key>
<value>false</value>
                            </entry>
                            <entry>
<key>put-db-record-quoted-identifiers</key>
<value>false</value>
                            </entry>
                            <entry>
<key>put-db-record-quoted-table-identifiers</key>
<value>false</value>
                            </entry>
                            <entry>
<key>put-db-record-query-timeout</key>
<value>0 seconds</value>
                            </entry>
                            <entry>
<key>rollback-on-failure</key>
<value>false</value>
                            </entry>
                            <entry>
<key>table-schema-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>put-db-record-max-batch-size</key>
<value>1000</value>
                            </entry>
                            <entry>
<key>database-session-autocommit</key>
<value>false</value>
                            </entry>
                        </properties>
                        <retryCount>0</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutDatabaseRecord</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>retry</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#2363c2</value>
                        </entry>
                    </style>
                    <type>org.apache.nifi.processors.standard.PutDatabaseRecord</type>
                </processors>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>lab_4_CDC</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>07/27/2024 00:47:52 UTC</timestamp>
</template>
